@import "../../../styles/variables.scss";
@import "../../../styles/mixins.scss";

aside {
  grid-area: sidebar;
  background: $gray-700;
  padding: 30px;
  box-sizing: border-box;
  color: $gray-300;
}
