@import "../../styles/variables.scss";
@import "../../styles/mixins.scss";

.layout {
  @include fullPageLayout;
  @include flexContainer;
  background-color: $gray-100;
}
.wrapper {
  @include flexContainer;
  flex-direction: column;
  justify-content: space-around;
  background: transparent;
  border-radius: 20px;
  height: 50vh;
}
.title {
  text-align: center;
  color: $gray-800;
  font-size: 2.5rem;
  margin: 10px 10px 40px;
  @media (max-width: 320px) {
    font-size: 2rem;
  }
}
.card {
  @include flexContainer;
  flex-direction: column;
  // grid-template: repeat(3, 1fr) / 1fr;
  grid-template-areas:
    "email"
    "password"
    "google";
  width: 20em;
  padding: 1em;
  // height: 10em;
  border-radius: 20px;
  box-shadow: $shadow;
  background-color: #fff;
}
.form {
}
.field {
  // background: cyan;
  margin: 1em 0;
  &:nth-child(1) {
    grid-area: email;
  }
  &:nth-child(2) {
    grid-area: password;
  }
}
.input {
  padding: 13px;
  width: 100%;
  margin-top: 5px;
  box-sizing: border-box;
  border: 1px solid $gray-400;
  border-radius: 5px;
  color: $gray-800;
  font-size: 1rem;
  font-family: "Archivo", sans-serif;
  font-weight: 600;
}
.label {
  color: $gray-800;
  font-weight: 600;
}
