@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.modal {
  @include flexContainer;
  flex-direction: column;
  height: 35em;
  width: 45em;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
  box-shadow: $shadow-lg;
  background: $gray-100;
}
.background {
  @include flexContainer;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 600;
  transition: all 0.2s ease-in-out;
}
