@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

@mixin navigation {
  @include flexContainer;
  position: absolute;
  bottom: 0;
  margin: 15px;
  font-size: 1.5rem;
  color: $teal-500;
  border-radius: 50%;
  width: 2em;
  height: 2em;
  transition: all 0.15s ease-in-out;
  &:hover {
    background: $teal-500;
    color: #fff;
  }
}
.next {
  @include navigation();
  right: 0;
}
.prev {
  @include navigation();
  left: 0;
}
