@import "../../styles/mixins.scss";

.form {
  display: grid;
  gap: 35px;
  width: 320px;
}

.wrapper {
  margin-top: 15px;
  height: min-content;
  width: min-content;
  display: flex;
  align-items: center;
  border-radius: 20px;
  border: 2px solid var(--teal-300);
  overflow: hidden;
}

.option {
  @include text;
  display: flex;
  justify-content: center;
  padding: 8px 0;
  width: 75px;
  font-size: 14px;
  font-weight: 500;
  color: var(--gray-800);
  transition: all 0.07s ease-in-out;
  cursor: pointer;
  &:nth-child(1) {
    border-right: 1px solid var(--teal-300);
  }
  &.selected {
    background: var(--teal-300);
  }
}
