@import "../../styles/mixins.scss";

.main-action-button {
  @include flexContainer;
  grid-area: mab;
  width: 35px;
  font-size: 22px;
  border-radius: 4px;
  border: 2px solid var(--teal-400);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
  &:hover {
    background: var(--teal-400);
    & .icon {
      color: var(--white);
    }
  }
}

.icon {
  color: var(--teal-400);
  transition: all 0.1s ease-in-out;
}
