.main-action-button {
  display: flex;
  align-items: center;
  border-radius: 20px;
  font-size: 14px;
  border: 2px solid var(--teal-300);
  overflow: hidden;
  color: var(--teal-400);
  font-weight: bold;
  padding: 10px 15px;
  letter-spacing: 0.8px;
  transition: all 0.15s ease-in-out;
  width: 88px;
  &:hover {
    background: var(--teal-300);
    color: var(--white);
  }
  &.loading {
    width: 73px;
    &:hover {
      background: none;
    }
  }
}
