@import "../../../../styles/mixins.scss";
@import "../../../../styles/variables.scss";

.wrapper {
  @include flexContainer;
  grid-area: menu;
  padding: 0 15px;
  height: 100%;
  justify-self: end;
  border-right: 1px solid $gray-400;
  border-left: 1px solid $gray-400;
  color: $gray-800;
  font-weight: 500;
  cursor: pointer;
}
.photo {
  width: 35px;
  height: 35px;
  border-radius: 50%;
}
.caret {
  font-size: 1.5rem;
}
.username {
  margin: 0 10px;
}

@media (max-width: 450px) {
  .username {
    display: none;
  }
  .wrapper {
    justify-content: flex-end;
  }
  .photo {
    margin-left: 10px;
  }
}
