@import "./mixins.scss";
@import "./variables.scss";

//headings
.section-heading {
  font-size: 1.5rem;
  color: var(--gray-700);
  // font-family: "Roboto", sans-serif;
  // font-family: "Inter", sans-serif;
  font-family: "Rubik", sans-serif;
  letter-spacing: 0px;
  font-weight: 500;
}

.section-subheading {
  font-size: medium;
  color: var(--gray-600);
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.pointer {
  cursor: pointer;
}
