@import "./mixins.scss";
@import "./variables.scss";

//headings
.section-heading {
  font-size: 1.8rem;
  color: var(--gray-700);
  font-family: "Roboto", sans-serif;
  font-weight: 900;
}

.section-subheading {
  font-size: medium;
  color: var(--gray-600);
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}

.uppercase {
  text-transform: uppercase;
  letter-spacing: 1.5px;
}

.pointer {
  cursor: pointer;
}
