@import "./variables.scss";

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Archivo", sans-serif;
}
input {
  outline: none;
}
ul {
  list-style: none;
}
button {
  outline: none;
  background: none;
  border: none;
  cursor: pointer;
  font-family: "Archivo", sans-serif;
  font-weight: 500;
}
h1,
h2,
h3,
h4 {
  color: $gray-900;
}
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-calendar {
  border: 3px solid $gray-200;
  border-radius: 5px;
  padding: 10px 20px;
  transform: scale(0.93);
}
