@import "./mixins.scss";
@import "./variables.scss";

.input {
  color: $gray-800;
  font-size: 17px;
  font-weight: 500;
  position: relative;
  border: none;
  width: 100%;
  max-width: 320px;
  min-width: 270px;
  height: 45px;
  padding: 0 50px 0 10px;
  border-radius: 5px;
  border: 1.5px solid $gray-300;
  box-sizing: border-box;
  &::placeholder {
    color: $gray-600;
    font-size: medium;
  }
  &:focus {
    border-color: $teal-300;
  }
  &.error {
    border: 1.5px solid $red-500;
  }
}

.input-wrapper {
  position: relative;
  &::after {
    content: "";
    position: absolute;
  }
}

.error-message {
  position: absolute;
  bottom: 0;
  color: $red-600;
  font-size: 13px;
}

.label {
  font-weight: 500;
}

.icons-wrapper {
  @include flexContainer;
  position: absolute;
  right: 0;
  top: 50%;
  margin-top: -15px;
  color: $gray-600;
  height: 30px;
}

.clear {
  margin: 0 8px 0 0;
  cursor: pointer;
  font-size: 1rem;
  color: var(--gray-600);
  transition: all 0.1s ease-in-out;
  &:hover {
    color: $red-500;
  }
}

.caret {
  font-size: 1rem;
  margin: 0 8px 0 0;
  cursor: pointer;
  &::before {
    content: "";
    position: relative;
    width: 2px;
    background: $gray-200;
    height: 100%;
    left: 0;
  }
  &:active {
    color: $teal-400;
  }
}

//modifiers
.extra-margin-bottom {
  margin-bottom: 20px;
}

.extra-margin-top {
  margin-top: 35px;
}

.relative-container {
  position: relative;
}

.title-sm {
  font-size: 1.45rem;
}

.flex-container {
  @include flexContainer;
  flex-direction: column;
  align-items: flex-start;
}

//dropdown options
.dropdown-list {
  position: absolute;
  top: 100%;
  margin-top: 5px;
  padding: 5px 0;
  background: $white;
  z-index: 100;
  height: auto;
  width: 100%;
  border-radius: 5px;
  box-shadow: $shadow-md;
}

.list-item {
  @include flexContainer;
  justify-content: flex-start;
  padding: 0px 25px;
  height: 40px;
  color: $gray-700;
  font-weight: 500;
  &.selected,
  &:hover,
  &:focus {
    background: $gray-200;
  }
}
