@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.layout {
  @include fullPageLayout;
  background-color: $white;
}
.flex {
  @include flexContainer;
}
.grid {
  display: grid;
  grid-template: 4em auto / 13% auto;
  grid-template-areas:
    "sidebar header"
    "sidebar main"
    "sidebar main";
}

main {
  grid-area: main;
  box-sizing: border-box;
  margin: 0px 60px 30px 60px;
}
