@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.layout {
  @include fullPageLayout;
  background-color: $white;
}

.flex {
  @include flexContainer;
}

.grid {
  display: grid;
  grid-template: 4em auto / minmax(150px, 13%) auto;
  grid-template-areas:
    "logo header"
    "sidebar main"
    "sidebar main";
  @include responsive("md") {
    grid-template-columns: minmax(100px, 13%) auto;
    grid-template-areas:
      "logo header"
      "main main"
      "main main";
  }
}

.main {
  grid-area: main;
  box-sizing: border-box;
  margin: 2em 0 2em;
  @include responsive("md") {
    margin: 2em 0 8em;
  }
}
