@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

aside {
  @include flexContainer;
  padding-top: calc(4em);
  align-items: flex-start;
  grid-area: sidebar;
  background: $gray-100;
  box-sizing: border-box;
  position: sticky;
  left: 0;
  // top: 0;
  bottom: 0;
  height: 100vh;
}

.li {
  margin: 3em;
  font-size: 0.8rem;
  color: $gray-600;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.12s ease-in-out;
  &:hover {
    color: $gray-800;
  }
}
