@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.background {
  @include flexContainer;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 10000;
  transition: all 0.2s ease-in-out;
}
