.container {
  margin-bottom: 2rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  margin-right: 4rem;
}

.icon {
  font-size: 1.75rem;
  color: var(--gray-600);
  padding: 8px;
  transition: all 0.15s ease-in-out;
  border-radius: 50%;
  &:hover {
    background: var(--gray-200);
  }
}
