@import "../../../../styles/mixins.scss";

.modal {
  box-shadow: var(--shadow-lg);
  border-radius: 5px;
  width: 375px;
  height: 200px;
  background: var(--white);
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  grid-template-areas:
    "title title"
    "cancel exit";
}

.title {
  grid-area: title;
  justify-self: center;
  margin-top: 1rem;
}

@mixin button {
  align-self: start;
  margin: 23px 28px;
  padding: 12px;
  border-radius: 27px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  transition: all 0.15s ease-in-out;
  font-weight: 500;
}

.cancel {
  grid-area: cancel;
  color: var(--gray-700);
  border: 2px solid var(--gray-600);
  @include button;
  &:hover {
    background: var(--gray-600);
    color: var(--white);
  }
}

.exit {
  grid-area: exit;
  color: var(--red-600);
  border: 2px solid var(--red-600);
  @include button;
  &:hover {
    background: var(--red-600);
    color: var(--white);
  }
}
