@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

header {
  grid-area: header;
  @include gridContainer;
  position: sticky;
  grid-template: 1fr / 60px 1fr;
  grid-template-areas: "navigation menu";
  justify-content: space-evenly;
  height: 4em;
  box-sizing: border-box;
  border-bottom: 1px solid $gray-300;
  font-weight: bold;
  background: $white;
  z-index: 598;
  top: 0;
}
