@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.button {
  @include flexContainer;
  grid-area: mab;
  height: 31px;
  padding: 0 7px;
  font-size: 22px;
  border-radius: 4px;
  border: 2px solid var(--teal-500);
  text-decoration: none;
  transition: all 0.1s ease-in-out;
  &:focus,
  &:hover,
  &:visited,
  &:link,
  &:active {
    text-decoration: none;
  }
  &:hover {
    background: var(--teal-500);
    box-shadow: $shadow;
    & .icon,
    .text {
      color: var(--white);
    }
  }
}

.icon,
.text {
  color: var(--teal-500);
  transition: all 0.1s ease-in-out;
  font-size: 0.9rem;
  font-weight: bold;
}

.icon {
  font-size: 1.1rem;
}

.text {
  letter-spacing: 0.8px;
}
