@import "../../../../styles/mixins.scss";

.navigation {
  grid-area: navigation;
  padding-left: 10px;
  @include flexContainer;
  justify-content: flex-start;
  border-right: 2px solid var(--gray-200);
  &:hover .arrow {
    color: var(--teal-400);
  }
}

.arrow {
  transition: all 0.1s ease-in-out;
  font-size: 1.6rem;
  color: var(--gray-800);
}
