.container {
  display: grid;
  width: 100%;
  grid-template: 75px 90px auto / 1fr auto;
  grid-template-areas:
    "section-title mab"
    "schedule schedule"
    "table table";
}

.title {
  grid-area: section-title;
}
