@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.modal {
  box-shadow: $shadow-lg;
  border-radius: 5px;
}

.grid {
  border-radius: 5px 5px 0 0;
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-areas:
    "title cancel"
    "period ."
    "amount date";
  width: 30em;
  gap: 25px;
  padding: 20px;
  background: $white;
  @include responsive("sm") {
    width: 80vw;
    grid-template-areas:
      "title cancel"
      "period ."
      "amount ."
      "date .";
  }
}

.background {
  @include flexContainer;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  z-index: 600;
  transition: all 0.2s ease-in-out;
}

.title {
  grid-area: title;
}

.periodo {
  grid-area: period;
  font-size: 15px;
  color: $gray-600;
  align-self: center;
}

.amount {
  grid-area: amount;
  @include responsive("sm") {
    min-width: 70vw !important;
  }
}

.date {
  grid-area: date;
  @include responsive("sm") {
    max-width: 70vw;
  }
}

.buttons-wrapper {
  grid-area: buttons;
  display: flex;
  justify-content: flex-end;
  width: 100%;
  padding: 15px 20px;
  border-top: 1px solid $gray-300;
  background: $white;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
}

// .submit {
// }

.cancel {
  grid-area: cancel;
  font-weight: bold;
  justify-self: flex-end;
  color: $gray-600;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: $gray-800;
  }
}
