@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.modal {
  display: grid;
  grid-template: auto auto auto 40px / auto auto;
  grid-template-areas:
    "title title"
    "input input"
    "date date"
    "submit cancel";
  flex-direction: column;
  height: 25em;
  width: 25em;
  padding: 25px;
  box-sizing: border-box;
  border-radius: 20px;
  border: 2px solid $gray-300;
  box-shadow: $shadow-lg;
  background: $gray-100;
}

.background {
  @include flexContainer;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.6);
  z-index: 600;
  transition: all 0.2s ease-in-out;
}

.title {
  grid-area: title;
}

.input {
  grid-area: input;
}

.submit {
  grid-area: submit;
}

.date {
  grid-area: date;
}

.cancel {
  grid-area: cancel;
  font-weight: bold;
  color: $gray-600;
  font-size: 14px;
  transition: all 0.15s ease-in-out;
  &:hover {
    color: $gray-700;
  }
}
