@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
  grid-area: schedule;
  align-self: start;
  display: flex;
  align-items: center;
}

.icon {
  margin-right: 15px;
  color: $gray-800;
}

.container {
  position: relative;
  z-index: 20;
  width: min-content;
  border: 2px solid $gray-200;
  border-radius: 20px;
  display: flex;
  justify-content: space-evenly;
}

.item {
  @include flexContainer;
  width: 75px;
  border-right: 1px solid $gray-200;
  border-left: 1px solid $gray-200;
  font-weight: bold;
  font-size: 0.9rem;
  line-height: 25px;
  color: $gray-700;
  cursor: pointer;
  &:nth-child(1) {
    border-left: none;
  }
  &.active {
    &:nth-child(1) {
      border-radius: 20px 0 0 20px;
    }
    background: $gray-200;
    z-index: 10;
  }
}

.year {
  cursor: auto;
  border-radius: 0 20px 20px 0;
  background: $gray-200;
}

.notification {
  @include flexContainer;
  position: absolute;
  border-radius: 50%;
  width: 15px;
  height: 15px;
  font-size: 10px;
  color: $white;
  top: 20px;
}

.lapsed {
  background: $red-600;
  right: 15px;
  z-index: 100;
}

.about-to-lapse {
  background: $orange-600;
  right: 0px;
  z-index: 99;
}
