@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.wrapper {
  grid-area: selected-month;
  align-self: center;
}

.month {
  display: inline;
  color: $gray-700;
}

.year {
  display: inline;
  color: $gray-500;
}
