@import "../../styles/mixins.scss";
@import "../../styles/variables.scss";

.container {
  grid-area: table;
  overflow-x: auto;
  padding-bottom: 4rem;
  padding: 0 50px;
  @include responsive("md") {
    padding: 0 30px;
  }
}

.table-wrapper {
  display: grid;
  gap: 20px;
  grid-template-columns: 2fr 5fr;
  grid-template-areas:
    "selected-month create-payment"
    "table table";
  border-radius: 20px;
  box-sizing: border-box;
  padding: 25px 5px 30px;
  max-width: 1300px;
  min-width: 680px;
  @include responsive("md") {
    padding: 25px 5px 30px;
  }
}

.table {
  box-shadow: $shadow;
  border: 1px solid $gray-100;
  grid-area: table;
  width: 100%;
  border-radius: 5px;
  background: $white;
  border-collapse: collapse;
}

.tr {
  border-bottom: 2px solid $gray-200;
  &:hover {
    background: $gray-100;
  }
  &:last-child {
    border-bottom: none;
  }
}

.header {
  background: $gray-100;
  &:hover {
    background: $gray-100;
  }
}

.sort {
  margin-left: 5px;
  top: 2px;
  position: relative;
}

@mixin cell {
  padding-left: 10px;
  position: relative;
  text-align: start;
  color: $gray-800;
}

.th {
  border-bottom: 2px solid $gray-200;
  @include cell;
  line-height: 45px;
  font-size: small;
  color: $gray-600;
  width: auto;
  letter-spacing: 1px;
  &:nth-child(1) {
    width: 20%;
  }
  &:nth-child(6) {
    width: 50px;
  }
}

.td {
  @include cell;
  line-height: 52px;
  color: $gray-700;
  font-size: 15px;
  font-weight: 500;
  letter-spacing: 0.5px;
}

.ellipsis {
  font-size: 17px;
  color: $gray-700;
  position: relative;
  top: 10px;
  transition: all 0.2s ease;
  border-radius: 50%;
  padding: 5px;
  &:hover {
    background: $gray-300;
  }
  &.active {
    background: $gray-300;
  }
}

.status {
  border-radius: 20px;
  padding: 3px 7px;
  font-weight: 600;
  font-size: 14px;
  letter-spacing: 0.75px;
  &.pagado {
    color: $green-600;
    background-color: $green-100;
  }
  &.vence-pronto {
    color: $orange-600;
    background-color: $orange-100;
  }
  &.vencido {
    color: $red-600;
    background-color: $red-100;
  }
  &.pago-automatico {
    color: $blue-600;
    background-color: $blue-100;
  }
  &.pendiente {
    color: $yellow-600;
    background-color: $yellow-100;
  }
}

.menu {
  top: 1rem !important;
  left: -150px;
  transform: scale(0.85);
}

.no-payments {
  color: $gray-700;
  font-size: 20px;
  font-weight: 300;
  margin-top: 30px;
}

//loader
.loader-wrapper {
  @include flexContainer;
}

// total
.total-tr {
  background: var(--gray-100);
}

.total-td {
  color: var(--gray-800);
  letter-spacing: 1px;
  font-size: 15px;
}
