@import "../../../styles/mixins.scss";
@import "../../../styles/variables.scss";

.table {
  grid-area: table;
  max-width: 1300px;
  width: 100%;
  border-radius: 5px;
  background: $white;
  border-collapse: collapse;
}

.tr {
  border-bottom: 1px solid $gray-300;
  &:hover {
    background: $gray-200;
  }
}

.header {
  &:hover {
    background: $white;
  }
}

@mixin cell {
  text-align: start;
  color: $gray-800;
}

.th {
  @include cell;
  line-height: 40px;
  font-size: small;
  color: $gray-500;
  width: auto;
  letter-spacing: 1px;
}

.td {
  @include cell;
  color: $gray-800;
  font-size: 14px;
  padding: 1em 0 1em 0em;
  height: 55px;
  font-weight: 600;
  letter-spacing: 0.5px;
}

.centered-content {
  // text-align: center;
}
